body {
     color: black;
     padding: 20px;
     background-color: #808080;
     font-family: 'Poppins', sans-serif;
}
 .container {
     background-color: #c0c0c0;
     border-radius: 25px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
     padding: 20px;
     margin-top: 30px;
     margin-bottom: 30px;
}
 h1 {
     color: #ededed;
}
 label {
     color: #2d2d30;
}
 .centered-textarea {
     display: block;
     margin: 0 auto;
     width: 100%;
     min-height: 90px;
     padding: 10px;
     box-sizing: border-box;
     border: 3px solid #ededed;
     border-radius: 50px;
     resize: none;
 }
 .btn-primary {
     background-color: #2d2d30;
     border: 1px solid #2d2d30;
     border-radius: 50px;
     opacity: 0.6;
}
 .btn-primary:hover {
     background-color: #2d2d30;
     border: 1px solid #2d2d30;
     border-radius: 50px;
     opacity:1;
}
 .success-message {
     color: green;
     margin-top: 10px;
}
 .footer {
     background-color: rgb(66, 66, 66, 0.7);
     padding: 10px;
     text-align: center;
     font-size: 16px;
     color: #555;
     margin-top: 50px;
     border-top: 1px solid #ccc;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
}
 .footer p {
     margin: 0;
     display: inline-block;
     margin-right: 30px;
}
 .container-buttons {
     margin-top: 20px;
     text-align: center;
}
 .container-buttons .btn {
     margin: 5px;
}

 #result {
     padding: 10px;
     margin-top: 20px;
     border-radius: 5px;
}
 .center-placeholder::placeholder {
     text-align: center; 
}

.form-check {
  display: flex;
  margin-top: 8px;
  padding: 14px;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 50px;
  cursor: pointer;
  border-color: #ededed;
  background-color: #ebebeb;
  opacity: 0.6;
}

.form-check:hover {
  opacity: 1; 
}

.form-check-input { 
  margin-right: 10px;
  opacity: 1;
  background-color: #d6d6d6;
  border-radius: 50px;


}

.disable {
  display: none;
}

#inputOfPrefix, #inputOfAdmin {
  padding: 13px;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
  border-color: #ccc;
  background-color: #fff;
}
#listOfCommands, #listOfCommandsEvent, #prefixOfCommands, #adminOfCommands {
  border: none !important;
}

#listOfCommands:not(.modal), #listOfCommandsEvent:not(.modal), #prefixOfCommands:not(.modal), #adminOfCommands:not(.modal) {
  box-shadow: none !important;
}